.inlineIconRoot
  --padding 1.5px
  --size calc(1em + var(--padding) * 2)
  --icon-color black

  display inline-block
  width var(--size)
  height var(--size)
  padding var(--padding)
  font-size calc(1em / 1.4)
  line-height 1em
  border-radius 50%
  background-color var(--icon-color)
  color white
